<section class='create-user'>
    <h3 class='viewTitle'>Create User</h3>

    <form
        class='createUserForm'
        novalidate
        name='createUser'
        ng-submit='createUser.$valid && createUserCtrl.newAuthor()'
        >
        <input
            class='form-control'
            type='text'
            name='name'
            ng-model='createUserCtrl.userInfo.name'
            placeholder='Jane Doe'
            required>
        <input
            class='form-control'
            type='email'
            name='email'
            ng-model='createUserCtrl.userInfo.email'
            placeholder='example@email.com'
            required>
        <input
            class='form-control'
            type='password'
            name='password'
            ng-model='createUserCtrl.userInfo.password'
            placeholder='password'
            required>
        <input class='btn btn-primary btn-sm' type='submit' value='Create Author'>
    </form>

    <p class='new-author-msg alert alert-warning' ng-show='createUserCtrl.message'>
        {{createUserCtrl.message}}
    </p>

    <!-- <button ng-show='createUserCtrl.message' ng-click='createUserCtrl.addAnother()'>Add another author</button> -->

</section>
