<section class='login'>
    <h3 class='viewTitle'>Login</h3>

    <form
        novalidate
        name='login'
        ng-submit='login.$valid && loginCtrl.authenticate()'>
        <input
            type='email'
            name='email'
            ng-model='loginCtrl.userInfo.email'
            placeholder='email'
            required>
        <input
            type='password'
            name='password'
            ng-model='loginCtrl.userInfo.password'
            placeholder='password'
            min-length='8'
            required>
        <input class='login-btn btn btn-primary btn-sm' type='submit' value='login'>
    </form>

    <div ng-show='!login.$valid'>
        <p ng-show='login.email.$touched && !login.email.$valid'>Please confirm your email address to log in.</p>
        <p ng-show='login.password.$touched && !login.password.$valid'>Please confirm your password to log in.</p>
    </div>

    <p class='alert alert-warning' ng-show='loginCtrl.message'>
        {{loginCtrl.message}}
    </p>

</section>
