.allBlogsPreview {
    padding: 0;
}

.blogPreview {
    list-style: none;
    padding: 0.5em 1em;
    margin: 1em;
    color: $blogBlockTextColor;
    border-radius: $blockRadius;
    vertical-align: middle;

    header h4 {
        float: left;
        margin: 0;
    }

    header cite {
        float: right;
    }

    footer {
        text-align: right;

        p {
            margin: 0;
        }
    }
}

.blogPreview:nth-child(even) {
    background-color: $blogBlockEvenColor;
}
.blogPreview:nth-child(odd) {
    background-color: $blogBlockOddColor;
}

.blogContent {
    clear: left;
    border-top: 1px solid $blogBorderColor;
    border-bottom: 1px solid $blogBorderColor;
    margin: 0;
    padding: 1em;
}

.old-new-bttns {
    margin: 0 $homeBttnsMargin;
    margin-bottom: $homeBottomBttnMargin;
    text-align: center;
}

.timestamp {
    position: relative;
}
.time {
    position: absolute;
    top: 0;
    color: $timeColor;
    left: -70px;
}
.date {
    position: absolute;
    top: 15px;
    left: -70px;
    font-weight: bold;
    color: $themeFontColor;
}
