.pageTitle {
    background: url(../img/cropped-notebook-coffee.jpg);
    background-size: cover;
    background-position: center center;

    h1, p {
        margin: 0;
        text-align: center;
    }
}
