$footerTxtColor: #ffffff;

$sideBarBorderColor: #77b9e9;
$sideBarBorderWidth: 2px;

$blogBlockEvenColor: #313740;
$blogBlockOddColor: #6f7173;
$blogBlockTextColor: #ffffff;


//Standard Variables
$blockRadius: 5px;
$mainViewWidth: 60%;
$mainViewMargin: 10%;
$sidebarWidth: 20%;

$postArticleWidth: 100%;
$postHeaderBottomBorder: 1px solid #b1b2b6;
$postMarginLeft: 0;
$postHeaderPaddingBottom: 1%;
$postCategoryPaddingTop: 2%;
$postContentPaddingTop: 7%;
$postContentPaddingBottom: 4%;
$postFooterBorderTop: 1px solid $sideBarBorderColor;
$postFooterFontColor: #adaeb4;
