<section class='home'>

    <h3 class='viewTitle'>Recent Posts</h3>

    <ul class='allBlogsPreview'>

        <li class='blogPreview' ng-cloak ng-repeat='blog in homeCtrl.allBlogs'>
            <div class='timestamp'>
                <time class='time'>{{blog.date | date: "h:mm a"}}</time>
                <time class='date'>{{blog.date | date: "d/M/yy"}}</time>
            </div>
            <header>
                <h4><a ui-sref='post({id: blog.id})'>{{blog.title}}</a></h4>
                <cite>by {{blog.author.name}}</cite>
            </header>
            <p class='blogContent'>{{blog.firstSentence}}</p>
            <footer>
                <p>Read Post | {{blog.category.name}}</p>
            </footer>
        </li>
    </ul>
    <div class='old-new-bttns btn-group'>
        <button class='btn btn-default' ng-click='homeCtrl.goToOlderPosts()'>Older</button>
        <button class='btn btn-default' ng-click='homeCtrl.goToNewerPosts()'>Newer</button>
    </div>

</section>
