<section class='create-post'>
    <h3>Create a New Post</h3>

    <section class='invalidPostInputs'>
        <p ng-show='createPost.title.$error.required'>Blog needs to have a title</p>
        <p ng-show='createPost.content.$error.required'>Can't have a blog post without content</p>
        <p ng-show='createPost.selectCategory.$error.required'>Please select a category for the blog</p>
    </section>

    <form name='createPost' ng-submit='createPost.$valid && cpCtrl.createPost(cpCtrl.blogPost)' novalidate>
        <div>
            <label for='blogTitle'>Title</label>
            <input id='blogTitle' type='text' name='title' ng-model='cpCtrl.blogPost.title' required>
        </div>
        <div>
            <label for='blogContent'>Content</label>
            <textarea id='blogContent' type='text' name='content' ng-model='cpCtrl.blogPost.content' required></textarea>
        </div>
        <div>
            <label for='blogCategory'>Category</label>
            <select id='blogCategory' name='selectCategory' ng-model='cpCtrl.blogPost.categoryId' required>
                <option value='' selected>Select Category</option>
                <option ng-repeat='category in cpCtrl.categories' value='{{category.id}}'>
                    {{category.name}}
                </option>
            </select>
        </div>
        <input type='reset' value='Cancel'>
        <input type='submit' value='Create Post'>
    </form>
</section>
