<!DOCTYPE html>
<html lang='en' ng-app='blog'>
    <head>
        <meta charset='utf-8'>
        <title>Adventures in PR!</title>

        <meta name='description' content='Blog for Stacy'>
        <meta name='author' content='Front-End TIY Jun 2016'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' type='text/css'>
        <link rel='stylesheet' href='css/styles.css' type='text/css'>
    </head>
    <body>
        <header class='pageTitle'>
            <h1>Adventures in PR!</h1>
            <p>A catalog of the adventures had by various members of the PR Pros Team.</p>
        </header>

        <nav class='pageNav navbar navbar-inverse' ng-controller='NavController as nav'>
            <ul class='nav navbar-nav'>
                <li><a ui-sref='home'>Home</a></li>
                <li><a ui-sref='about'>About Us</a></li>
                <li ng-show='nav.loggedIn()'><a ui-sref='createPost'>Create Post</a></li>
                <li ng-show='nav.loggedIn()' ng-click='nav.logOut()'><a>Logout</a></li>
            </ul>
        </nav>

        <aside class='sideBar'>
            <section>
                <h3>Recent Posts</h3>
                <ul>
                    <li ui-sref='recentPosts'>Month goes here</li>
                </ul>
            </section>
            <section ng-controller='IndexController as index'>
                <h3>Categories</h3>
                <ul>
                    <li ng-repeat='category in index.categories'>
                        <a ui-sref='category({categoryId: category.id})'>{{category.name}}</a>
                    </li>
                </ul>
            </section>
        </aside>

        <main ui-view></main>

        <footer class='navbar navbar-default navbar-fixed-bottom navbar-inverse'>

            <ul class='footer' ng-controller='NavController as nav'>
                <li><a ui-sref='home'>Home</a></li>
                <li><a ui-sref='about'>About Us</a></li>
                <li ng-hide='nav.loggedIn()'><a ui-sref='login'>Login</a></li>
                <li ng-show='nav.loggedIn()'><a ui-sref='createUser'>Create User</a></li>
                <li><a ui-sref='legal'>Legal</a></li>
            </ul>
            <p class='copyright'>&copy; PR Pros 2016</p>
        </footer>

        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js'></script>
        <script src='js/main.js'></script>
    </body>
</html>
